<div id="app" cdkDropListGroup>
    <div class="example-container-1">
        <div
          cdkDropList
          cdkDropListOrientation="horizontal"
          [cdkDropListData]="items"
          class="example-list"
          cdkDropListSortingDisabled
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of items" cdkDrag>{{item}}</div>
        </div>
      </div>

    <div class="example-container">
      <h5 style="text-align:center">Vertebrate</h5>
  
      <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="vertebrates"
        class="example-list"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of vertebrates" cdkDrag>{{item}}</div>
      </div>
    </div>
  
    <div class="example-container">
      <h5 style="text-align:center">Invertebrate</h5>
  
      <div
        cdkDropList
        [cdkDropListData]="invertebrates"
        cdkDropListOrientation="horizontal"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of invertebrates" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>