  
  .hotspot-question {
    position: relative;
    .hotspot-image {
        width: 500px;
    }
    
    .hotspot-option-1 {
      top: 73px;
      left: 467px;
      padding: 0px;
      position: absolute;
    }
  
    .hotspot-option-2 {
      top: 176px;
      left: 415px;
      padding: 0px;
      position: absolute;
    }
  
    .hotspot-option-3 {
      top: 186px;
      left: 36px;
      padding: 0px;
      position: absolute;
    }
    .hotspot-option-4 {    
      top: 264px;
      left: 224px;
      padding: 0px;
      position: absolute;
  }
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {

        background-color: #005691!important;
      }
    
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: #005691;
      }

}
  


