<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Presentation Table Match Example.</h1>
  <p>
    This field input uses a presentation table to remove table navigation capability.
    It is unnecesarry to understand the physical layout of table to be able to answer the questions.
  </p>
  <legend>The Three Stooges:</legend>

  <table role="presentation" class="mat-elevation-z8">
    <thead role="presentation">
      <tr role="presentation">
        <td role="presentation" aria-hidden="true">Stooge</td>
        <td role="presentation"  aria-hidden="true" *ngFor="let stooge of questionData">{{stooge.name}}</td>
      </tr>
    </thead>
    <tbody role="presentation">
      <tr role="presentation">
        <td role="presentation" aria-hidden="true">Is Bald Headed</td>
            <td role="presentation" *ngFor="let stooge of questionData" scope="row">
              <div>
                  <mat-radio-button value="{{stooge.name}}" 
                    id="{{stooge.name}}-radio-label" name="radio"
                    aria-label="Is {{stooge.name}} the one Bald Headed stooge?"
                    (click)="radioChange(stooge)"
                   [checked]="this.form.controls['isBald'].value === stooge.name">
                  </mat-radio-button>
              </div>
          </td>      
      </tr>
      <tr role="presentation">
        <td role="presentation" aria-hidden="true">Is not very smart</td>
        <td role="presentation" *ngFor="let stooge of questionData" [attr.role]="null" scope="row">
          <div>
            <mat-checkbox aria-label="Is {{stooge.name}} not very smart">
            </mat-checkbox>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>