<mat-toolbar>
  <span>Accessibility Testbed</span>
  <button mat-icon-button routerLink="table" id="presentationTableNavButton"
    title="Navigate to demo of presentation table match" aria-label="presentation table match">
    <mat-icon>table</mat-icon>
  </button>
  <button mat-icon-button  routerLink="example" id="dataTableNavButton"
    title="Navigate to demo of data table match" aria-label="data table match">
    <mat-icon>table</mat-icon>
  </button>
  <button mat-icon-button routerLink="match" id="matchNavButton"
    title="Navigate to demo of drag and drop match" aria-label="match">
    <mat-icon>multiple_stop</mat-icon>
  </button>
  <button mat-icon-button routerLink="hotspot" id="hotspotNavButton"
    title="Navigate to demo of hotspot selection" aria-label="hotspot">
    <mat-icon>map</mat-icon>
  </button>
  <button mat-icon-button routerLink="hotspot-single" id="hotspotSingleNavButton"
    title="Navigate to demo of hotspot single selection" aria-label="hotspot single">
    <mat-icon>map</mat-icon>
  </button>
</mat-toolbar>
