//COLOR VARIABlES
$light-orange: #d78a3e;
$dark-orange: #d05527;
$darker-orange: #c94b28;
$light-blue: #005d83;
$dark-blue: #034970;
$light-green: #5b8244;
$dark-green: #145753;
$dark-grey: #5a5341;
$light-grey: #dcd7cd;
$white: #ffffff;