<div class="container">
    <img src="/assets/usamap.jpg" alt="Map of United States. Option summary: 2 button options. Button 1 located on Colorado, Button 2 located on Texas.">
    <div class="overlay1">
        <button mat-mini-fab color="buttoncolor" title="Button 1 on Colorado." onclick="console.log('Button pressed')">  </button>
    </div>
    <div class="overlay2">
        <button mat-mini-fab color="buttoncolor" title="Button 2 on Texas." onclick="console.log('Button pressed')">  </button>
    </div>  
  </div>