.img-container {
    position: relative;
  }
  
  img {
      width: 500px;
  }
  
  .overlay1 {
      color: black;
      padding: 0px;
      position: absolute;
      top: 984px;
      left: 497px;
  }

  .overlay2 {
    color: black;
    padding: 0px;
    position: absolute;
    top: 1100px;
    left: 587px;
}

.overlay3 {
    color: black;
    padding: 0px;
    position: absolute;
    top: 965px;
    left: 440px;
}

  .mat-buttoncolor {
    background-color: black;
    color: #eee;
}

.container {
    text-align: center;
}

.button24 {
    background-color: darkblue;
    width: 15px;
    height: 15px;
  }