.img-container {
    position: relative;
  }
  
  img {
      width: 500px;
  }
  
  .overlay {
      color: black;
      padding: 0px;
      position: absolute;
      top: 797px;
      left: 265px;
  }

  .mat-buttoncolor {
    background-color: black;
    color: #fff;
}