.img-container {
    position: relative;
  }
  
  img {
      width: 500px;
  }
  
  .overlay1 {
      color: black;
      padding: 0px;
      position: absolute;
      top: 977px;
      left: 475px;
  }

  .overlay2 {
    color: black;
    padding: 0px;
    position: absolute;
    top: 1063px;
    left: 525px;
}

  .mat-buttoncolor {
    background-color: black;
    color: #fff;
}

.container {
    text-align: center;
}