
<div >
    <h1>Single Cardinality Hotspot Example.</h1>
    <p>
        This input uses radio buttons overlaid on an image to allow users to click the appropriate answer based on the visual relationship.
        By using radio buttons overlaid on the map single cardinality is enforced.
    </p>
    <legend>Select the city located in Colorado from the below map of the United States:</legend>
    <div class="hotspot-question">
        <img class="hotspot-image" src="https://www.nationsonline.org/maps/USA_small.jpg"
            alt="A map of the contiguous United States.">

            <mat-radio-button id="radio-1" color="primary" class="hotspot-option-1" name="radio" aria-label="Option 1 of 3 on Salt Lake City." ></mat-radio-button>

            <mat-radio-button id="radio-2" color="primary"class="hotspot-option-2" name="radio" aria-label="Option 2 of 3 on Denver." ></mat-radio-button>

            <mat-radio-button id="radio-3"  color="primary" class="hotspot-option-3" name="radio" aria-label="Option 3 of 3 on Houston." ></mat-radio-button>
    </div>
</div>
